header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-left: 20px;
}

header .logo_area{
    display: grid;
    align-items: center;
}


header img{
    width: 100px;
    height: auto;
}
header h1{
    font-family:serif ;
    font-size: 20px;
    color: green;
}
nav a{
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
}
